div.channelIcon {
	background-image: url("/resource/icon/hastag.svg");
	display: inline-block;
	height: 24px;
	vertical-align: bottom;
	width: 24px;
}
c-channel>div:last-child {
	bottom: 2px;
	display: inline-block;
	margin-left: 5px;
	max-width: 80%;
	position: relative;
	text-overflow: ellipsis;
}

c-channel:hover, .columnInfo:hover {
	background-color: #00000010;
	/* background-color: var(--dark); */
}

c-channel.current, c-user:hover {
	background-color: var(--light);
}

c-channel.unread:before {
	background-color: var(--text);
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
	content: " ";
	display: block;
	float: left;
	height: 10px;
	position: relative;
	right: 7px;
	top: 7px;
	width: 10px;
}

#channelsList > button {
	display: block;
}

#disconnect {
	float: left;
	margin-left: 15px;
}

#userNameChange {
	float: right;
	margin-right: 15px;
}
