div.channelIcon {
	background-image: url("/resource/icon/hastag.svg");
	display: inline-block;
	height: 24px;
	vertical-align: bottom;
	width: 24px;
}

c-channel>div:last-child {
	display: inline-block;
	height: 15px;
	line-height: 15px;
	margin-left: 5px;
	max-width: 80%;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

c-channel.current,
c-user:hover {
	background-color: var(--light);
}

c-channel.unread:before {
	background-color: var(--text);
	border-bottom-right-radius: 100%;
	border-top-right-radius: 100%;
	content: " ";
	display: block;
	float: left;
	height: 10px;
	position: relative;
	right: 7px;
	top: 7px;
	width: 10px;
}

#channelsList>button {
	display: block;
}

#options {
	min-width: 0px;
}

#options>div:first-child {
	display: flex;
	margin: auto;
	min-width: 0px;
	width: 80%;
}

#options>div:first-child>* {
	flex: 1 1 auto;
	margin: 0px;
}

#userIconChange {
	border-radius: 100%;
	cursor: pointer;
	flex: 0 0 auto !important;
	height: 30px;
	width: 30px;
}

#userNameChange {
	margin-left: 15px !important;
	margin-right: 15px !important;
}

#disconnect {
	display: block;
	width: 80%;
}
