.column {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-width: 0px;
	width: calc(15vw + 0px);
}

.side {
	background-color: var(--medium);
	max-width: 15vw;
	min-width: 250px;
	width: 15vw;
}

.center.column {
	background-color: var(--main);
	display: flex;
	flex: 1 1 auto;
	min-width: 0px;
}

.column>.columnInfo {
	color: var(--text);
	display: flex;
	flex: 0 0 auto;
	line-height: 64px;
	max-height: 64px;
	min-height: 64px;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	width: 100%;
}

.center.column .columnInfo {
	box-shadow: 0 1px 0 rgba(0, 0, 0, .2), 0 1.5px 0 rgba(0, 0, 0, .05), 0 2px 0 rgba(0, 0, 0, .05);
	margin-bottom: 0px;
	min-width: 64px;
	text-align: left;
}

.columnInfo > input {
	flex: 1 1 auto;
	height: 50%;
}

.columnInfo > * {
	margin: auto;
}

.column>* {
	flex: 1 1 auto;
	min-width: 0px;
	overflow-y: auto;
}

.column>*:last-child {
	flex: 0 0 auto !important;
	overflow: hidden;
}

.fill {
	height: 300px;
	;
}

.nameTopicDivider {
	margin-right: 10px;
	margin-left: 10px;
}

.center .channelIcon {
	background-image: url(/resource/icon/hastag.svg);
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	width: 20px;
}

c-channel,
c-user {
	border-radius: 5px;
	color: var(--text);
	cursor: pointer;
	display: block;
	line-height: 20px;
	margin: auto;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 7px;
	width: 80%;
}

#channelDelete {
	background-color: #0000;
	height: 20px;
	margin-left: 20px;
	margin-right: 20px;
	max-height: 20px;
	max-width: 15px;
	transition: 0.2s background-color ease-in-out;
}

#channelDelete:not(:disabled):hover {
	background-color: var(--dark);
}

@media screen and (max-width: 768px) {
	.side {
		display: none;
	}
}
