#messagesList {
	min-width: 0px;
}

/*
 * Message
 */
c-message,
c-convo {
	clear: both;
	display: flex;
	float: left;
	margin: 10px;
	margin-top: 10px;
}

/*
 * Own message reversed
 */
c-message.own,
c-convo.own {
	flex-direction: row-reverse;
	float: right;
}

/*
 * All convos
 */
c-convo {
	margin: 0px;
}

/*
 * Own convos
 */
c-convo.own {
	margin-right: 50px;
}

/*
 * Other's convos
 */
c-convo:not(.own) {
	margin-left: 50px;
}

/*
 * User icon in message
 */
c-message>span>img.userIcon,
c-convo>span>img.userIcon {
	border-radius: 100%;
	height: 40px;
	object-fit: cover;
	width: 40px;
}

/*
 * User icon in message hover
 */
c-message>span>img.userIcon:hover {
	cursor: pointer;
}

/*
 * hides the author icon, author name and date in a convo
 */
c-convo>span:first-child,
c-convo>span:last-child>*:not(.messageContent) {
	display: none;
}

/*
 * Message bubble
 */
c-message>span:last-child,
c-convo>span:last-child {
	background-color: var(--light);
	border-bottom-left-radius: 0px;
	border-radius: 10px;
	color: var(--text);
	margin-left: 10px;
	margin-right: 50px;
	min-width: 30px;
	padding: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

/*
 * Own message bubble
 */
c-message.own>span:last-child,
c-convo.own>span:last-child {
	background-color: var(--accent);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	color: black;
	margin-right: 10px;
}

c-message.own>span:last-child {
	text-align: right;
}

/*
 * Message bubble
 */
c-message:not(.own)>span:last-child,
c-convo:not(.own)>span:last-child {
	border-bottom-left-radius: 0px;
}

/*
 * Message author
 */
c-message>span>span.messageAuthor,
c-convo>span>span.messageAuthor {
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	margin-right: 10px;
	white-space: nowrap;
}

/*
 * Message author
 */
c-message>span>span.messageAuthor:hover,
c-convo>span>span.messageAuthor:hover {
	cursor: pointer;
	text-decoration: underline;
}

/*
 * Message timestamp
 */
c-message>span>span.messageTimestamp,
c-convo>span>span.messageTimestamp {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
}

/*
 * Message content
 */
c-message>span>div.messageContent {
	padding-top: 10px;
}

/*
 * Message content
 */
c-message>span>div.messageContent,
c-convo>span>div.messageContent {
	font-size: 15px;
	font-weight: 300;
	margin-left: 5px;
	margin-right: 5px;
	word-break: break-word;
}

/*
 * Code block in message content
 */
c-message>span>div.messageContent code,
c-convo>span>div.messageContent code {
	font-family: monospace;
}

/*
 * Pre block / Code block in message content
 */
c-message>span>div.messageContent pre,
c-message>span>div.messageContent code,
c-convo>span>div.messageContent pre,
c-convo>span>div.messageContent code {
	background-color: var(--medium);
	border-radius: 5px;
	margin: 0px;
	padding: 5px;
	width: fit-content;
	display: inline-block;
}

/*
 * Pre block / Code block in message content
 */
c-message>span>div.messageContent pre:not(:first-child),
c-message>span>div.messageContent code:not(:first-child),
c-convo>span>div.messageContent pre:not(:first-child),
c-convo>span>div.messageContent code:not(:first-child) {
	margin-top: 10px;
}

/*
 * Pre block / Code block in own message content
 * Color fix
 */
c-message.own>span>div.messageContent pre,
c-message.own>span>div.messageContent code,
c-convo.own>span>div.messageContent pre,
c-convo.own>span>div.messageContent code {
	background-color: var(--accentDarker);
}

*:not(.own)>span>div.messageContent a,
*:not(.own)>span>div.messageContent a:visited {
	color: #0096cf;
}

*.own>span>div.messageContent a,
*.own>span>div.messageContent a:visited {
	color: #204198;
}

/*
 * Convo fix bubble
 */
c-convo:not(.own)>span:last-child {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

/*
 * Own convo fix bubble
 */
c-convo.own>span:last-child {
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}

/*
 * Avoid selecting message content
 */

c-message>span>div.messageContent *,
c-convo>span>div.messageContent * {
	user-select: text !important;
	-moz-user-select: text !important;
}

c-message>span>*:not(img),
c-convo>span>*:not(img) {
	user-select: text;
	-moz-user-select: text;
}

/*
 * Convo linked to message
 */
c-message+c-convo {
	margin-top: -10px;
}

c-mention {
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
	padding: 2px;
}

c-mention:hover {
	z-index: 10;
}

c-message.own c-mention:not(.me) {
	background-color: var(--accentDarker);
}

c-message.own c-mention:not(.me):hover {
	background-color: var(--accentLighter);
}

c-message.own c-mention.me {
	background-color: var(--accentDarkest);
	color: var(--text);
}

c-message.own c-mention.me:hover {
	background-color: var(--accentLighter);
}

c-message:not(.own) c-mention:not(.me) {
	background-color: var(--main);
}

c-message:not(.own) c-mention:not(.me):hover {
	background-color: var(--lighter);
	color: var(--darkest);
}

c-message:not(.own) c-mention.me {
	background-color: var(--accentDarker);
}

c-message:not(.own) c-mention.me:hover {
	background-color: var(--accent);
}

c-unread {
	clear: both;
	display: flex;
	float: none;
}

c-unread>div {
	background-color: var(--dnd);
	display: inline-block;
	height: 1px;
	margin-left: 20px;
	margin-right: 20px;
	margin: auto;
	width: -moz-available;
	width: -webkit-fill-available;
}

c-unread>span {
	color: var(--dnd);
	white-space: nowrap;
}

textarea#messageInput {
	-moz-user-select: none;
	background-color: var(--light);
	border-radius: 5px;
	border: none;
	color: var(--text);
	display: block;
	font-size: 15px;
	height: auto;
	line-height: 20px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
	max-height: 144px;
	min-height: 20px;
	outline: none;
	padding: 10px;
	resize: none;
	user-select: none;
	white-space: pre-wrap;
	width: calc(100% - 60px);
}
