c-message {
	clear: both;
	display: flex;
	float: left;
	margin: 10px;
	margin-top: 10px;
}

c-message > * {
	display: inline-block;
}

c-message .userIcon {
	border-radius: 100%;
	height: 40px;
	object-fit: cover;
	width: 40px;
}

c-message .userIcon:hover {
	cursor: pointer;
}

c-message .messageAuthor {
	display: inline-block;
	font-size: 16px;
	font-weight: bolder;
	margin-right: 10px;
	white-space: nowrap;
}

c-message .messageAuthor:hover {
	cursor: pointer;
	text-decoration: underline;
}

c-message .messageTimestamp {
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	white-space: nowrap;
}
c-message .messageContent {
	font-size: 15px;
	font-weight: 300;
}

c-message .messageContent > pre {
	background-color: var(--medium);
	border-radius: 5px;
	margin: 0px;
	padding: 5px;
	width: fit-content;
}

c-message.own .messageContent > pre {
	background-color: var(--accentDarker);
}

c-message .messageContent * {
	user-select: text !important;
}

c-message > *:last-child {
	background-color: var(--light);
	border-bottom-left-radius: 0px;
	border-radius: 10px;
	color: var(--text);
	margin-left: 10px;
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}

c-message.own {
	flex-direction: row-reverse;
	float: right;
}

c-message.own > *:last-child {
	background-color: var(--accent);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 0px;
	color: black;
	margin-left: 0px;
	margin-right: 10px;
}

c-message > span > *:not(img) {
	user-select: text;
}

c-unread {
	clear: both;
	display: flex;
	float: none;
}

c-unread > div {
	background-color: var(--dnd);;
	display: inline-block;
	height: 1px;
	margin-left: 20px;
	margin-right: 20px;
	margin: auto;
	width: -webkit-fill-available;
}

c-unread > span {
	color: var(--dnd);
	white-space: nowrap;
}

textarea#messageInput {
	background-color: var(--light);
	border-radius: 5px;
	border: none;
	color: var(--text);
	display: block;
	font-size: 15px;
	height: auto;
	line-height: 20px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 10px;
	max-height: 144px;
	min-height: 20px;
	outline: none;
	padding: 10px;
	resize: none;
	user-select: none;
	white-space: pre-wrap;
	width: calc(100% - 60px);
}
