#usersList {
	padding-top: 10px;
}

c-user>div {
	display: inline-block;
	line-height: 24px;
}

c-user>div:first-child {
	height: fit-content;
}

c-user>div:last-child {
	display: inline-block;
	margin-left: 10px;
	max-width: 80%;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
}

c-user .userIcon {
	border-radius: 100%;
	height: 30px;
	object-fit: cover;
	width: 30px;
}

c-user>div>div {
	border-radius: 100%;
	bottom: 14px;
	height: 12px;
	left: 22px;
	position: relative;
	width: 12px;
}

c-user.online>div>div {
	background-color: var(--online);
}

c-user.offline>div>div {
	display: none;
}

c-user.idle>div>div {
	background-color: var(--idle);
}

c-user.dnd>div>div {
	background-color: var(--dnd);
}

c-user.offline>div {
	filter: brightness(60%);
}

c-user.offline:hover>div {
	filter: brightness(100%);
}

img.userIcon {
	background-image: url("/resource/img/user.svg");
}

c-message img.userIcon,
c-convo img.userIcon {
    min-height: 40px;
    min-width: 40px;
}

c-user img.userIcon {
    min-height: 30px;
    min-width: 30px;
}
