@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url("/resource/font/Whitney\ Bold\ Regular.ttf");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url("/resource/font/Whitney\ Book\ Regular.ttf");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url("/resource/font/Whitney\ Medium\ Regular.ttf");
}

@font-face {
	font-family: Whitney;
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url("/resource/font/Whitney\ Semibold\ Regular.ttf");
}

:root {
	--darkest: #202225;
	--dark: #2B2C31;
	--medium: #2F3136;
	--main: #36393F;
	--light: #484C52;
	--lighter: #7F8186;

	--text: #ffffffb3;

	--accentLighter: #8B9EE0;
	--accent: #7289DA;
	--accentDarker: #5d76cf;
	--accentDarkest: #4d66c0;

	--accentGreen: #3CA374;
	--accentGreenDarker: #369368;
	--accentGreenDarkest: #257a52;

	--online: #43B581;
	--dnd: #F04747;
	--idle: #FAA61A;
}

* {
	font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
	user-select: none;
	-moz-user-select: none;
}

*::selection, input {
	background-color: #00000080;
	color: var(--text);
}

body,
main {
	align-items: stretch;
	background-color: var(--main);
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	height: 100vh;
	justify-content: space-around;
	margin: 0px;
	min-width: 0px;
	overflow: hidden;
	padding: 0px;
	width: 100%;
}

.noscript {
	color: red;
	font-size: xx-large;
	font-weight: bolder;
	margin: auto;
}

input {
	-moz-user-select: text;
	background-color: transparent;
	border-radius: 5px;
	border: none;
	color: var(--text);
	cursor: text;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	outline: none;
	overflow: hidden;
	padding: 5px;
	text-overflow: ellipsis;
	user-select: text;
}

input:hover {
	background-color: #00000030;
}

input:focus {
	background-color: var(--light);
}

button,
input[type=button],
input[type=submit] {
	border-radius: 5px;
	border: none;
	box-shadow: 0px 0px 2px #00000080;
	color: rgb(255, 255, 255);
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	height: 32px;
	justify-content: center;
	line-height: 16px;
	margin: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	min-height: 32px;
	min-width: 60px;
	outline: none;
	padding-bottom: 2px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 2px;
	text-align: center;
	transition: background-color .17s ease, color .17s ease;
	user-select: none;
	-moz-user-select: none;
}

button:not(:disabled):active,
input[type=button]:not(:disabled):active,
input[type=submit]:not(:disabled):active {
	position: relative;
	top: 2px;
}

*:disabled {
	filter: opacity(30%);
}

.blue {
	background-color: var(--accent);
}

.blue:hover {
	background-color: var(--accentDarker);
}

.blue:active {
	background-color: var(--accentDarkest);
}

.green {
	background-color: var(--accentGreen);
}

.green:hover {
	background-color: var(--accentGreenDarker);
}

.green:active {
	background-color: var(--accentGreenDarkest);
}
