form {
	background-color: var(--dark);
	height: min-content;
	margin: auto;
	max-width: 100vw;
	padding: 20px;
	zoom: 1.5;
}

form > *{
	display: block;
	width: -webkit-fill-available;
}

form > input[type=text], form > input[type=password] {
	background-color: var(--light)
}

form > label, form > a {
	color: var(--text);
}
