form {
	background-color: var(--dark);
	height: min-content;
	height: -moz-min-content;
	margin: auto;
	max-width: 100vw;
	padding: 20px;
	transform: scale(1.5);
}

form > *{
	display: block;
	width: -webkit-fill-available;
	width: -moz-available;
}


form > img {
	height: 100px;
}

form > input[type=text], form > input[type=password] {
	background-color: var(--light)
}

form > label, form > a {
	color: var(--text);
}

button:not(:disabled):focus,
input[type=button]:not(:disabled):focus,
input[type=submit]:not(:disabled):focus {
	background-color: var(--accentGreenDarker);
}
